.guest__meta {
  display: flex;
}
.guest__rsvp,
.guest__guests {
  border-radius: 4px;
  padding: 4px;
  display: inline-block;
}
.guest__rsvp {
  color: #fff;
  background-color: #8897a2;
}
.guest__rsvp--yes {
  background-color: #5aa700;
}
.guest__guests {
  color: #999;
  border: 1px solid #ccc;
  margin-left: 4px;
}
.guest__address, 
.guest__edit {
  margin-top:8px;
}